extends layout

block content
  header
    h2 title
  section
    nav
      ul
        li
          a.active(href='') Client Information
        li
          a(href="/") Home
        li
          a(href='reqQuote') Request a Quote
        li
          a(href='quoteHist') Quote History
    ul(style='list-style-type: none') 
      li Name: Muhammad
      li Address: 892 Momona St, Honolulu, HI 96820
      li Phone: 512-224-3335
      li Email: muhammadMclovin69@gmail.com
  footer
    p Fuel Prediction