extends layout

block content
  header
    h2 Fuel Quote
  section
    nav
      ul
        li
          a(href="/") Home
        li
          a.active(href='') Client Information
        li
          a(href='reqQuote') Request a Quote
        li
          a(href='quoteHist') Quote History
    ul(style='list-style-type: none') 
      li Name: Raj Singh
      li Address: 123 Main St, Austin, TX 78820
      li Phone: 512-224-3335
      li Email: raj@gmail.com
  footer
    p Fuel Prediction