doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      != messages('message', locals)
      if errors
        each error, i in errors
          div(class="alert-error") #{error.msg}
    nav
      .topright 
        ul
          if user
            li 
              a(href='/users/logout') Logout
          else
            li
              a(href='/users/register') Register
            li
              a(href='/users/login') Login
  block content
      