extends layout

block content
  header
    h2 Fuel Quote
    style.
      * {
      box-sizing: border-box;
      }
      ins [type=text], select, textarea {
      width: 50%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
      }
      input[type=text], select, textarea {
      width: 50%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
      }
      input[type=number], select, textarea {
      width: 50%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
      }
      input[type=Date], select, textarea {
      width: 50%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
      }
      input[type=Email], select, textarea {
      width: 50%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
      }
      input[type=Password], select, textarea {
      width: 50%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
      }
      label {
      padding: 12px 12px 12px 0;
      display: inline-block;
      }
      input[type=submit] {
      width: 50%;
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      resize: vertical;
      }
      input[type=submit]:hover {
      background-color: #45a049;
      }
      select
      {
      width: 25%;
      font-size:15px;
      }
      select optgroup
      {
      color:#E0E0E0;
      font-size:12px;
      font-weight:bold;
      background-color:#0000FF;
      }
      select option
      {
      color:#0000FF;
      font-weight:normal;
      background-color:#FFFFFF;
      }
      .container {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
      }
      .col-25 {
      float: left;
      width: 25%;
      margin-top: 6px;
      }
      .col-75 {
      float: left;
      width: 75%;
      margin-top: 6px;
      }
      .col-50 {
      float: left;
      width: 50%;
      margin-top: 6px;
      }
      /* Clear floats after the columns */
      .row:after {
      content: "";
      display: table;
      clear: both;
      }
      .center {
      margin: auto;
      width: 60%;
      padding: 10px;
      }
      /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
      .col-25, .col-75, .col-50, input[type=submit] {
      width: 100%;
      margin-top: 0;
      }
      }

  section
    nav
      ul
        li
          a(href='/') Home
        li
          a(href='/clientInfo') Client Information
        li
          a(href='/reqQuote') Request a Quote
        li
          a(href='/quoteHist') Quote History
    h4 LOG IN PAGE
    form(action='/users/login', method='post')
      .row
        .col-25
          label(for='email') Email: 
        .col-50
          input(type='Email' id='email' name='email' placeholder= 'Email Address' required)
      .row
        .col-25
          label(for='password') Password: 
        .col-50
          input(type='Password' id='password' name='password' placeholder='Password' required)
      .row
        .col-25
        .col-50
          input(type='submit', value='Log In').absolute
      .row
        .col-50
          p Do not have an account? 
            a(href='register') Register
  != messages('message', locals)
  if errors
    each error, i in errors
      div(class="alert-error") #{error.msg}
      
    article
      p
        | Note: This is a fuel prediction application that will be able to predict fuel prices based on various criteria.
  footer
    p Fuel Prediction

//- form(action="/test/submit" method="post")
//-   input#id(type='text' name= 'id')
//-   button#submit(type="submit" value= "Submit")
