extends layout

block content
  header
    h2 Fuel Quote
    style.
      * {
      box-sizing: border-box;
      }
      ins [type=text], select, textarea {
      width: 50%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
      }
      input[type=text], select, textarea {
      width: 50%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
      }
      input[type=number], select, textarea {
      width: 50%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
      }
      input[type=Date], select, textarea {
      width: 50%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
      }
      input[type=Email], select, textarea {
      width: 50%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
      }
      label {
      padding: 12px 12px 12px 0;
      display: inline-block;
      }
      input[type=submit] {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      float: right;
      }
      input[type=submit]:hover {
      background-color: #45a049;
      }
      select
      {
      padding: 12px 20px;
      width: 25%;
      font-size:15px;
      }
      select optgroup
      {
      color:#E0E0E0;
      font-size:12px;
      font-weight:bold;
      background-color:#0000FF;
      }
      select option
      {
      color:#0000FF;
      font-weight:normal;
      background-color:#FFFFFF;
      }
      .container {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
      }
      .button {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      }
      .col-25 {
      float: left;
      width: 25%;
      margin-top: 6px;
      }
      .col-75 {
      float: left;
      width: 75%;
      margin-top: 6px;
      }
      .col-100 {
      float: left;
      width: 25%;
      margin-top: 6px;
      }
      .myDIV {
      }
      /* Clear floats after the columns */
      .row:after {
      content: "";
      display: table;
      clear: both;
      }
      /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
      .col-25, .col-75, .col-100, input[type=submit] {
      width: 100%;
      margin-top: 0;
      }
      }

  section
    nav
      ul
        li
          a(href="/") Home
        li
          a(href='clientInfo') Client Information
        li
          a.active(href='') Request a Quote
        li
          a(href='quoteHist') Quote History
  .container
    form(method='POST' action='/reqQuote/create')
      .row
        .col-25
          label(for='gallons') Gallons Requested:
        .col-75
          input#gallonsRequested(type='number', name='gallonsRequested', min='1', placeholder='Gallons', onchange='getTotal()', required)
      .row
        .col-25
          label(for='deliveryDate') Delivery Date:
        .col-75
          input#deliveryDate(type='Date', name='deliveryDate', min='2018-09-21', placeholder='Date', required)
      .row
        .col-25
          label(for='deliveryLocation') Delivery Location:
        .col-75
          input#deliveryAddress(type='text', name='deliveryAddress', placeholder='Street', required)
        .col-75
          input#deliveryCity(type='text', name='deliveryCity', placeholder='City', required)
          br
          .col-100
            input#deliveryZipCode(type='text', name='deliveryZipCode', placeholder='ZipCode', required)
            select#deliveryState(onchange="document.getElementById('suggestedPrice').innerHTML = suggestions()")
              option.title State
              option(value='AL') Alabama
              option(value='AK') Alaska
              option(value='AZ') Arizona
              option(value='AR') Arkansas
              option(value='CA') California
              option(value='CO') Colorado
              option(value='CT') Connecticut
              option(value='DE') Delaware
              option(value='DC') District Of Columbia
              option(value='FL') Florida
              option(value='GA') Georgia
              option(value='HI') Hawaii
              option(value='ID') Idaho
              option(value='IL') Illinois
              option(value='IN') Indiana
              option(value='IA') Iowa
              option(value='KS') Kansas
              option(value='KY') Kentucky
              option(value='LA') Louisiana
              option(value='ME') Maine
              option(value='MD') Maryland
              option(value='MA') Massachusetts
              option(value='MI') Michigan
              option(value='MN') Minnesota
              option(value='MS') Mississippi
              option(value='MO') Missouri
              option(value='MT') Montana
              option(value='NE') Nebraska
              option(value='NV') Nevada
              option(value='NH') New Hampshire
              option(value='NJ') New Jersey
              option(value='NM') New Mexico
              option(value='NY') New York
              option(value='NC') North Carolina
              option(value='ND') North Dakota
              option(value='OH') Ohio
              option(value='OK') Oklahoma
              option(value='OR') Oregon
              option(value='PA') Pennsylvania
              option(value='RI') Rhode Island
              option(value='SC') South Carolina
              option(value='SD') South Dakota
              option(value='TN') Tennessee
              option(value='TX') Texas
              option(value='UT') Utah
              option(value='VT') Vermont
              option(value='VA') Virginia
              option(value='WA') Washington
              option(value='WV') West Virginia
              option(value='WI') Wisconsin
              option(value='WY') Wyoming
      .row
        .col-25
          label(for='deliveryContactName') Delivery Contact Person Name:
        .col-75
          input#deliveryContactName(type='text', name='deliveryContactName', placeholder='Name', required)
      .row
        .col-25
          label(for='deliveryContactPhone') Delivery Contact Person Phone:
        .col-75
          input#deliveryContactPhone(type='text', name='deliveryContactPhone', placeholder='Phone Number', required)
      .row
        .col-25
          label(for='deliveryContactEmail') Delivery Contact Person Email:
        .col-75
          input#deliveryContactEmail(type='Email', name='deliveryContactEmail', placeholder='Email', required) 

      .row
        .col-25
          label(for="Suggestion") Suggested Price per Gallon:
        .col-75
          ins#suggestedPrice(type='text', name='suggestedPrice')
            .row
      .row     
        .col-25
          label(for="Total Due") Total Amount Due:
        .col-75
          ins#totalAmountDue(type='text', name='totalAmountDue')

        .row
          input(type='submit', value='Submit')
          
        //- .col-75
        //-   button(onclick='myFunction()') Get price

      script.
        function myFunction() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        }
        function suggestions() {
        var y = document.getElementById("deliveryState").value;
        var pattern = /[A-F]/;
        var result = y.match(pattern);
        if (result == true){
          suggestedPrice.value = 2.59;
          document.getElementById("suggestedPrice").innerHTML = suggestedPrice.value.toFixed(2);
        return 2.59;
        }
        else {
          suggestedPrice.value = 2.20;
          document.getElementById("suggestedPrice").innerHTML = suggestedPrice.value.toFixed(2);
        return 2.29;
        }
        }
        function getTotal() {
        var gallonsRequested = document.getElementById("gallonsRequested").value;
        var suggestedPrice = suggestions();
        totalAmountDue.value = gallonsRequested*suggestedPrice;
        document.getElementById("totalAmountDue").innerHTML = totalAmountDue.value.toFixed(2);
        }
  footer
    p Fuel Prediction 



  //- .container
  //-     #myDIV
  //-     .row  
  //-       .col-75
  //-         button(onclick="document.getElementById('suggestedPrice').innerHTML = suggestions()") Get price
  //-     .row
  //-       .col-25
  //-         label(for="Suggestion") Suggested Price per Gallon:
  //-       .col-75  
  //-         | #{suggestedPrice}
  //-     .row
  //-       .col-25  
  //-         label(for="Total Due") Total Amount Due:
  //-       .col-75
  //-         | #{totalAmountDue}